<!-- Jinja Tag -->
{% load static %}
{% static "images" as baseURL %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1 id="heading">About Me</h1>
        <!-- <img src='{% static 'images/admin.png' %}' -->
        <!-- <img src="{{baseURL}}/{{info.img}}" alt="Profile Image" id="profile"> -->

        {% for item in access %}
        <img src="{{item.img.url}}" alt="Image" id="profile">
        {% endfor %}
        <p>Hi, I am Prabesh Gupta. I am a skilled web developer with a passion for graphic designing. I specialize in
            developing visually stunning and user-friendly websites. My proficiency in graphic designing allows me to
            create amazing content that enhances the overall online experience.</p>
    </div>
</body>

</html>