<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>LOGIN USER</h1>
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}

        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>
        <button type="submit">Login</button>
    </form>
    <div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
</body>

</html>